 <a href= '/'>Reset</a>
 def predict():
 if request.method == 'POST':
     email_text = request.form.get('email_content')
 tokenized_email = tokenizer.transform(email_text)
 predictions = model.predict(tokenized_email)
 predictions = 1 if predictions == 1 else -1
 return render_template('home.html' , predictions= predictions, email_text= email_text)


 @app.route('/predict', methods =['POST'] )
 def predict():
   if request.method == 'POST':
       email = request.form.get('email_content')
       tokenized_email = tokenizer.transform([email])
       predictions = model.predict(tokenized_email)
       predictions = 1 if predictions == 1 else -1
       return render_template('home.html', predictions=predictions, email_text=email_text)




@app.route('/predict', methods=['POST'])
def predict():
    if request.method == 'POST':
        email = request.form.get('email_content')
        tokenized_email = tokenizer.transform([email])
        predictions = model.predict(tokenized_email)
        predictions = 1 if predictions == 1 else -1
    return render_template('home.html', predictions=predictions, email_text=email)